@import "/src/assets/scss/variables";


@media only screen and (max-width: $medium-width){
    .long-navbar {  display: none  }
}
@media only screen and (min-width: $medium-width){
    .short-navbar { display: none }
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: $bar-height !important;
    width: 100vw;
    justify-content: space-between;
}

.buttons-box {
    margin-right: 10px;
}
.title-box {
    font-size: 25px;
    margin: 0 10px;
}

