<div class="container">
    <mat-toolbar  color="primary">
        <div>
            <span class="title-box">Śpiewnik<a class="long-navbar"> - {{songbookName}}</a></span>
            <mat-slide-toggle (change)="onDarkModeSwitch($event)">
                <mat-icon *ngIf="isDark">light_mode</mat-icon>
                <mat-icon *ngIf="!isDark">dark_mode</mat-icon>
             </mat-slide-toggle>
        </div>

        <div id="buttons-box" class="long-navbar">
            <button *ngIf="isLogin" mat-button >Mettings</button>
            <button *ngIf="isLogin" mat-button>Editor</button>
            <button mat-button>Songbook</button>
            <button *ngIf="!isLogin" [routerLink]="['/login']" (click)="logoutUser()" mat-button>Login</button>
            <button *ngIf="isLogin" [routerLink]="['/logout']" (click)="logoutUser()" mat-button>Logout</button>
        </div>
        <button class="short-navbar" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button *ngIf="isLogin" mat-menu-item >Mettings</button>
                <button *ngIf="isLogin" mat-menu-item>Editor</button>
                <button mat-menu-item>Songbook</button>
                <button *ngIf="!isLogin" [routerLink]="['/login']" (click)="logoutUser()" mat-menu-item>Login</button>
                <button *ngIf="isLogin" [routerLink]="['/logout']" (click)="logoutUser()" mat-menu-item>Logout</button>
            </mat-menu>
    </mat-toolbar>
</div>